{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>PASSENEGER</title>
</head>

<body>
    <div class="container-fluid p-0 m-0">
        <div class="row m-0 p-0">

            <div class="col-sm-2 m-0 p-0 navbar navbar-expand-sm sticky-top sidebar">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start w-75" id="navbarSupportedContent">
                    <div class="offcanvas-header bg-third">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body bg-third">
                        <!-- SideBar  -->
                        <div class="d-flex flex-column flex-shrink-0 p-3 w-100 side-bar-body z-1 sticky-top mt-2"
                            style="z-index: 1000;">
                            <div class="w-100 align-items-center align-content-center text-center">
                                <a class="text-decoration-none" href="{% url 'passenger' %}">
                                    <img  src="{% static 'logo.jpg' %}" loading="lazy"  style="height:100px"/>
                                </a>
                            </div>
                            <hr class="text-white" />
                            <ul class="nav nav-pills flex-column mb-auto mt-4 gap-2">
                                <div class="">
                                    <li class="nav-item">
                                        <div class="w-100 bag-secondary btn btn-primary active">
                                            <div class="d-flex gap-2 align-items-center">
                                                <div>
                                                    <img src="{% static 'dashboard.png' %}" class="side-bar-icon"
                                                        loading="lazy" alt="side bar icon" />
                                                </div>
                                                <div class="d-lg-block text-white item-lable-text">
                                                    Passenger
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item mt-3">
                                        <a href="{% url 'user_logout' %}">
                                            <button class="w-100 btn btn-primary d-flex gap-2 align-items-center">
                                                <img src="{% static 'Logout.png' %}" class="side-bar-icon"
                                                    loading="lazy" alt="side bar icon" />
                                                <div class="d-lg-block text-white item-lable-text">
                                                    Logout
                                                </div>
                                            </button>
                                        </a>

                                    </li>
                                </div>
                            </ul>
                        </div>
                        <!-- sidebar -->
                    </div>
                </div>
            </div>


            <div class="col-sm-10 body-bag-primary container-fluid m-0 p-0">
                <div class="navbar m-0 navbar-expand-lg bg-body-secondary main-navbar sticky-top fixed-top">
                    <div class="container-fluid d-flex align-items-center" style="min-height: 40px;">
                    </div>
                </div>

                <div class="mt-4 p-3">
                    <div class="d-flex justify-content-end align-items-end ">
                        <a href="{% url 'passenger_create' %}" class="btn btn-sm">
                            <button type="button" class="btn btn-primary text-white item-lable-text">
                                Add Passenger
                            </button>
                        </a>

                    </div>
                    <div class="d-flex justify-content-start">
                        <form class="d-flex" role="search" method="get" action="{% url 'passenger_search' %}">
                            <input class="form-control me-2" type="search" name="query" placeholder="Search by Passport or NIC" aria-label="Search">
                            <button class="btn btn-outline-primary me-2" type="submit">Search</button>
                            <a href="{% url 'passenger' %}" class="btn btn-secondary">Clear</a>
                        </form>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive mt-3 justify-content-center">
                        <table class="table table-striped table-hover">
                            <thead class="table-lightt border-bottom ">
                                <tr>
                                    <th scope="col">Registration No</th>
                                    <th scope="col">Passport No</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">NIC</th>
                                    <th scope="col">Mobile No</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for passenger in passengers %}
                                <tr>
                                    <th scope="row">{{ passenger.registration_number }}</th>
                                    <td>{{ passenger.passport_number }}</td>
                                    <td>{{ passenger.first_name }}</td>
                                    <td>{{ passenger.last_name }}</td>
                                    <td>{{ passenger.nic }}</td>
                                    <td>{{ passenger.mobile }}</td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="{% url 'passenger_edit' passenger.id %}" class="btn  btn-sm">
                                                <img src="{% static 'edit.png' %}" class="side-bar-icon"
                                                    loading="lazy" alt="side bar icon" />
                                            </a>
                                            <a href="{% url 'passenger_view' passenger.id %}" class="btn btn-sm">
                                                <img src="{% static 'view.png' %}" class="side-bar-icon"
                                                    loading="lazy" alt="side bar icon" />
                                            </a>
                                            <a href="{% url 'passenger_delete' passenger.id %}" class="btn btn-sm">
                                                <img src="{% static 'delete.png' %}" class="side-bar-icon"
                                                    loading="lazy" alt="side bar icon" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/DeleteModel.html' %}
    {% include 'components/passengerFormModel.html' %}
    {% include 'components/passengerViewModel.html' %}
    


    {% if open_modal %}
    <script>
        // Using Bootstrap's JavaScript API to show the modal
        document.addEventListener('DOMContentLoaded', function () {
            var myModal = new bootstrap.Modal(document.getElementById('PassangerModel'));
            myModal.show();
        });
    </script>
    {% endif %}

    {% if open_delete_model %}
    <script>
        // Using Bootstrap's JavaScript API to show the modal
        document.addEventListener('DOMContentLoaded', function () {
            var myModal = new bootstrap.Modal(document.getElementById('deleteModel'));
            myModal.show();
        });
    </script>
    {% endif %}

    {% if open_view_modal %}
    <script>
        // Using Bootstrap's JavaScript API to show the modal
        document.addEventListener('DOMContentLoaded', function () {
            var myModal = new bootstrap.Modal(document.getElementById('PassangerViewModel'));
            myModal.show();
        });
    </script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>